body{
    margin: 0;
    padding: 0;
    background: conic-gradient(from .5turn at center left, lime, cyan);
    background-repeat: no-repeat;
}

#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.num input{
    grid-column-start: 1;
    grid-column-end: 4;
}

.signs{
    display: grid;
    grid-template-columns: 1fr;
}

button{
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
}


